## Activity: Going through a machine learning problem yourself

In [1]:
import pandas as pd
import numpy as np

### Task: Predict House Prices in Iowa

Original Dataset: https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data

Note: There are 81 columns in the original dataset, I have reduced it to 14 columns to make it easier to work with.

### What type of machine learning problem is this and why? (i.e. Supervised, Unsupervised, or Reinforcement?) 

Answer:

In [2]:
# read in the data
iowa = pd.read_csv('https://raw.githubusercontent.com/shailm99/intro2ML/main/iowa_modified.csv', index_col = 'Id')
iowa.head()

,LotArea,Neighborhood,OverallQual,OverallCond,YearBuilt,BsmtFinSF1,1stFlrSF,GrLivArea,FullBath,HalfBath,TotRmsAbvGrd,GarageCars,PoolArea,SalePrice
Id,,,,,,,,,,,,,,
1,8450,CollgCr,7,5,2003,706,856,1710,2,1,8,2,0,208500
2,9600,Veenker,6,8,1976,978,1262,1262,2,0,6,2,0,181500
3,11250,CollgCr,7,5,2001,486,920,1786,2,1,6,2,0,223500
4,9550,Crawfor,7,5,1915,216,961,1717,1,0,7,3,0,140000
5,14260,NoRidge,8,5,2000,655,1145,2198,2,1,9,3,0,250000

In [3]:
iowa.shape

(1460, 14)

### Columns in the Dataset

- SalePrice - the property's sale price in dollars. This is the target variable that you're trying to predict.
- LotArea: Lot size in square feet
- Neighborhood: Physical locations within Ames city limits
- OverallQual: Overall material and finish quality
- OverallCond: Overall condition rating
- YearBuilt: Original construction date
- BsmtFinSF1: Type 1 finished square feet
- 1stFlrSF: First Floor square feet
- GrLivArea: Above grade (ground) living area square feet
- FullBath: Full bathrooms above grade
- HalfBath: Half baths above grade
- TotRmsAbvGrd: Total rooms above grade (does not include bathrooms)
- GarageCars: Size of garage in car capacity
- PoolArea: Pool area in square feet

### Step 1: Model Preprocesssing

##### 1) Feature Selection/Engineering 

Remember you should always explore your data first, perform feature engineering and select the best features to get the best model possible 

However, in order to save some time we will use the features given in this dataset

In [ ]:
# Split data in X and y

X = iowa.drop(columns  = [])#add target col
y = iowa[]   #add target col

##### 2) Split data into train-test split

In [ ]:
# import the respective function from sklearn


# create a 75/25 train test split

##### 3) Check for any missing values 

Hint: there should not be any missing values

In [ ]:
# write your code here

##### 4) Handle Categorical Data using One Hot Encoding

Remember to handle the categorical data for both the training and testing datasets

In [ ]:
# write your code here

##### 5) Normalize the following columns:
- BsmtFinSF1
- 1stFlrSF
- GrLivArea
- LotArea

In [ ]:
# import the MinMaxScaler Class for Sklearn

# create an instance of the class 

# fit and transform the training data

# transform the testing data

### Step 2: Model Fitting

Choose one model and fit it to the data (I would recommend using XGBoost Regressor or RandomForestRegressor)

Optional: Fit more than one model and compare them using K-Fold Cross Validation (I recommend only doing this if you have extra time)

In [ ]:
# import the model 

# fit the model to the training data

In [ ]:
# additional code block if you have time for the optional challenge

### Step 3: Evaluate the Model
Find the RMSE of your model when applying it to the testing set

In [ ]:
# import the metrics from sklearn

# make predictions of the testing data 

# find the MSE, MAE and R^2 of the model

### Step 4: Model Interpretability 

What are the top 3 most important features in your model to predict the Sales Price of a House?

Answer:

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
# write your code here

### Extra Time: Applying a Log Transformation to Sale Prices

Since the range for SalePrices is very large we will apply a log transformation and refit our model to see if we can achieve better results

In [ ]:
# Notice that the range of Sale Prices are very large 
#np.max(y_train) - np.min(y_train)

In [ ]:
# apply log transformation
# write your code here

In [ ]:
# refit the model 

# make predictions on testing set 

# Find MAE, MSE, R^2 of the model